p{
    background-color:white;
    color:red;
    font-size:20px;
}
.heading{
    box-shadow: 5px 5px 5px black;
    padding:10px;
    margin-bottom:20px;
    font-size:25;
}
.footer{
    position:fixed;
    bottom:0;
    line-height:3;
    background-color:black;
    color:white;
    font-family: 'Roboto', sans-serif;
    width:100%;
    text-align:center;
}
canvas{
    border: 5px solid black;
    box-shadow: 5px 5px 5px black;
    padding:10px;
    margin:20px;
}